# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
ENV/
.venv/
.ENV/
.env
# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
